.header {
	background-color: var(--grey-dark);
	box-shadow: var(--shadow);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 1.1rem;
		padding-bottom: 0.8rem;
		max-width: 1460px;

		@media (max-width: 480px) {
			padding-top: 0.8rem;
			padding-bottom: 0.6rem;
		}
	}

	&__logo {
		display: block;
		position: relative;
		margin-left: 10px;
		height: 90px;
		width: 100%;
		max-width: 221px;

		@media (max-width: 1024px) {
			margin-left: 0px;
			height: 70px;
			max-width: 200px;
		}

		@media (max-width: 768px) {
			height: 60px;
			max-width: 150px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
}